@charset "utf-8" ;

	/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
}


/*
body
*/
.all{
    background-color: #000;
    color: #FFF;
    width: auto;
    height: 100%;
    background-image: url(./assets/top-img.png);
    background-repeat: no-repeat;
    background-size: 55vw;
    background-position: 94% 1%;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 3% 3.5%;
}
a:link {
    color: #FFF;
    text-decoration: none;
}
a:visited{
    color: #FFF;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}


/*
main
*/
.main-section{
}
.main-box{
    width: 1vw;
    height: 6vw;
    background-color: #FFF;
}

.main-title{
    text-align: left;
    font-weight: bold;
    font-size: 10vw;
    margin-bottom: -5.2vw;
    text-decoration: none;
}
.sub-title{
    text-align: left;
    font-size: 7vw;
    font-weight: bold;
}


.header{
    width: 100%;
    height: auto;
    font-size: 3.2vw;
    font-weight: bold;
}
.nav-list{
    border-bottom: 0.5px solid #FFF;
    padding: 0 0 4vw;;
    margin-bottom: 34%;
}
.works-link{}
.about-link{}
.other-link{}   


/*
works
*/
.blank1{
    width: 100vw;
    height: 1.2vw;
    background-color: #000;
}
.blank-box{
    width: 6vw;
    height: 1vw;
    background-color: #FFF;
    background-position: 94% 0;
}
.works{
    position: relative;
    overflow: auto;
    max-height: 90vh;
    margin-bottom: 16%;
}
.works-headline{
    text-align: left;
    font-size: 6vw;
    font-weight: bold;
    background-color: #000;
    margin: 2vw 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
.works-item{
    padding: 0%;
}
.nox-item{
    display: flex;
    margin-bottom: 4vw;
}
.nox-img{
    width: 53.3vw;
    height: 30vw;
}
.nox-description{
    text-align: left;
    margin: 8vw 4vw 8vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.nishiken-item{
    display: flex;
    margin-bottom: 4vw;
}
.nishiken-img{
    width: 53.3vw;
    height: 30vw;
}
.nishiken-description{
    text-align: left;
    margin: 8vw 4vw 8vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.shinsapporo-item{
    display: flex;
    margin-bottom: 4vw;
}
.shinsapporo-img{
    width: 53.3vw;
    height: 30vw;
}
.shinsapporo-description{
    text-align: left;
    margin: 8vw 4vw 8vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.arufa-item{
    display: flex;
    margin-bottom: 4vw;
}
.arufa-img{
    width: 53.3vw;
    height: 30vw;
}
.arufa-description{
    text-align: left;
    margin: 8vw 4vw 8vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}


/*
about
*/
.about{
    padding: 0;
    margin-bottom: 8%;
}
.about-headline{
    text-align: right;
    font-size: 6vw;
    font-weight: bold;
    margin: 2vw 0 0;
    border-bottom: 0.5px solid #FFF;
}
.about-box{

}
ul{
    padding: 0;
}
.about-item{
    display: flex;
    padding: 0;
}
.about-description{
    margin: 12vw 4vw 12vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.about-img{
    margin-top: -10vw;
    width: 50vw;
    height: auto;
}


/*
others
*/
.other{
    position: relative;
    overflow: auto;
    max-height: 90vh;
    margin-bottom: 10%;
}
.other-headline{
    text-align: left;
    font-size: 6vw;
    font-weight: bold;
    background-color: #000;
    margin: 2vw 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
.other-item{
    padding: 0%;
}
.fashion-item{
    display: flex;
    margin-bottom: 4vw;
}
.fashion-img{
    width: 53.3vw;
    height: auto;
}
.fashion-description{
    text-align: left;
    margin: 12vw 4vw 12vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.illustration-item{
    display: flex;
    margin-bottom: 4vw;
}
.illustration-img{
    width: 53.3vw;
    height: auto;
}
.illustration-description{
    text-align: left;
    margin: 12vw 4vw 12vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.graphic-item{
    display: flex;
    margin-bottom: 4vw;
}
.graphic-img{
    height: auto; 
    width: 53.3vw;
}
.graphic-description{
    text-align: left;
    margin: 12vw 4vw 12vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}
.character-item{
    display: flex;
    margin-bottom: 4vw;
}
.character-img{
    width: 53.3vw;
    height: auto;
}
.character-description{
    text-align: left;
    margin: 12vw 4vw 12vw 8vw;
    font-size: 1.6vw;
    font-weight: normal;
}


.end{
    width: 100%;
    display: flex;
}
.adress{
    text-align: left;
    font-size: 1.6vw;
    margin-right: 45.8%;
}
.end-title{
    text-align: right;
    font-size: 6vw;
    line-height: 90%;
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
}


